body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

nav {
    background: gold;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.chessboard {
    width: 400px;
    height: 400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.chess-square {
    width: 100%;
    height: 100%;
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #c49c2f;
}
