body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

/* TOP BAR */
.top-bar {
    background: gold;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.coins {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.coin-img {
    width: 30px;
    margin-right: 5px;
}

/* LAYOUT */
.container {
    display: flex;
    height: calc(100vh - 70px);
}

/* LEFT MENU */
.sidebar {
    width: 200px;
    background: #222;
    padding-top: 20px;
}

.menu-btn {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 12px;
    background: gold;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.menu-btn:hover {
    background: white;
}

/* MAIN CONTENT */
#content {
    flex: 1;
    background: #181818;
    padding: 20px;
    overflow-y: auto;
}

/* CHESS BOARD */
.board-area {
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chessBoard {
    width: 480px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 5px solid gold;
}

.white {
    background: white;
}

.gold {
    background: gold;
}

.piece {
    font-size: 45px;
    text-align: center;
    cursor: grab;
    user-select: none;
}
